{% extends 'base.html' %}

{% block title %}Smooth Operator{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">Smooth Operator</h1>

			<blockquote>Connecting you now...</blockquote>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2 class="sub-heading">What is this?</h2>
			<p>And app to provide a single phone number for editorial tools support</p>
		</div>
		<div class="col-md-6">
			<h2 class="sub-heading">How do I use it?</h2>

			<ol>
				<li>There's not much in the way of user-facing functionality as yet</li>
			</ol>


		</div>
	</div>
</div>

{% endblock %}
